body{
    background-color: aqua;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    color: #000;
}
.hello-layout p{
    font-size: 25px;
    font-weight: 500;
    margin: 0px 0px 75px 0px;
}
.hello-layout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 0px 0px;
}.hello-layout h1{
    margin: 75px 0px 0px 0px;
    font-size: clamp(25px, 4.99vw,  79px);
}
ul,li,a{
    list-style: none;
    text-decoration: none;
}

.content{
    max-width: 1279px;
    margin: auto auto 100px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 75px 50px 50px 50px;
    background-color: #F1F1F1;
}
.footer-layout{
    max-width: 1279px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-nav-layout{
    border-bottom: 1px solid #DDDDDD;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 50px 0px;
    margin: 0px 0px 50px 0px;
}

.footer-nav-layout a{
    color: #656565;
}

.footer-nav-layout span a{
    font-weight: 500;
    color: #000;
    margin: 0px 0px 15px 0px;
    display: inline-block;
}

.footer-nav-layout ul{
    padding: 0;
    margin: 0;
}

.footer-nav-layout ul > li {
    margin: 0px 0px 15px 0px;
    cursor: pointer;
}

.footer-copiryght-layout{
    font-size: 17px;
}

.footer-copiryght-layout span{
    font-weight: 500;
    display: flex;
    margin: 0px 0px 15px 0px;
}

.footer-copiryght-layout p{
    color: #C6C6C6;
    font-size: 14px;
}


h1{
    font-size: 60px;
    font-weight: 900;
}

.where{
    width: 100%!IMPORTANT;
    cursor: pointer!IMPORTANT;
    height: 40px;
    display: flex;
    z-index: 145;
    padding: 0px 0px 0px 25px!IMPORTANT;
  }
  .truncate{
    width: 100%;
    cursor: pointer;
  }
  select{
    cursor: pointer;
  }
  .is {
    border-right: 1px solid #000;
    width: 100%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 27px);
    max-width: 768px;
    border-radius: 50px;
    border: 1px solid #00000015;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    font-weight: 500;
    font-size: 17px!IMPORTANT;
      transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  form:hover{
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  }
  .where {
    width: 100%;
    border: none;
  }
  .ring-gray-300,
  .shadow-sm {
    --tw-ring-opacity: 0;
    --tw-ring-opacity: 0;
  }
  .search {
    background-color: #00c7bb;
    padding: 15px;
    min-width: 125px;
    display: flex;
    font-weight: 500 !important;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
  }

.aboutUser{
  margin: 15px 0px 15px 0px !IMPORTANT;
}
  
/* мобильная версия */
@media (max-width: 770px){
    .hello-layout{
        
    }
    .hello-layout p{
        text-align: center;
        margin: 0px 0px 50px 0px;
    }
    .hello-layout h1{
        margin: 75px 0px 0px 0px;
    }
    .where{
        width: calc(100% - 30px);
        padding: 15px 0px 15px 0px!IMPORTANT;
        margin: 0px 0px 0px 0px!IMPORTANT;
      }
      .footer{
        padding: 50px 15px 25px 15px;
      }
      .footer-nav-layout{
        flex-direction: column;
        display: flex;
        margin: 0px 0px 25px 0px;
      }
}